<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    <% if(meta !== undefined && configs !== undefined) { %>
	    <meta property="og:type" 	    content="website" />
	    <meta property="og:title" 	    content="<%= meta !== undefined ? meta.title : configs.site_title %>" />
		<meta property="og:url" 	    content="<%= meta !== undefined ? meta.url : configs.site_url; %>" />
		<meta property="og:image" 	    content="<%= meta !== undefined ? meta.image : configs.logo; %>" />
		<meta property="og:site_name"   content="<%= meta !== undefined ? meta.site_name : configs.site_title %>" />
		<meta property="og:description" content="<%= meta !== undefined ? meta.description : '' %>" />
		<meta property="fb:app_id"      content="<%= meta !== undefined ? meta.fb_id : '' %>" />
		<% } %>

		<title><%= title %></title>

		<!-- FAVICON setting -->
		<link href="/favicon.ico" rel="shortcut icon"/>
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/favicons/manifest.json">
		<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
		<meta name="description" content="<%= meta !== undefined ? meta.description : '' %>" />

		<!-- Material Design -->
		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"> -->
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Font awesome -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Style -->
		<link rel="stylesheet" href="/stylesheets/front.styles.css?v=1.4"/>

		<!-- Begin comScore Tag -->
	    <script>
            var _comscore = _comscore || [];
            _comscore.push({ c1: "2", c2: "21230308" });
            (function() {
               var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
               s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
               el.parentNode.insertBefore(s, el);
             })();
            </script>
            <noscript>
               <img src="http://b.scorecardresearch.com/p?c1=2&c2=21230308&cv=2.0&cj=1" />
            </noscript>
            <!-- End comScore Tag -->
            <!-- Begin comScore Tag -->
	    <script>
	  		var _comscore = _comscore || [];
	  		_comscore.push({ c1: "2", c2: "21230308" });
			  (function() {
			    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
			    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
			    el.parentNode.insertBefore(s, el);
			  })();
		</script>
		<noscript>
	  		<img src="http://b.scorecardresearch.com/p?c1=2&c2=21230308&cv=2.0&cj=1" />
		</noscript>
		<!-- End comScore Tag -->

		<!-- Start Alexa Certify Javascript -->
		<script type="text/javascript">
			_atrk_opts = { atrk_acct:"/MWGm1akGFL1bm", domain:"lian-car.com",dynamic: true};
			(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
		</script>
		<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=/MWGm1akGFL1bm" style="display:none" height="1" width="1" alt="" /></noscript>
		<!-- End Alexa Certify Javascript -->
	</head>
	<body>

	<% include topmenu %>