		
		<% if(configs.extra_footer !== undefined) { %>
			<% var extra_path = configs.extra_footer; %>
			<%- include(extra_path) %>
		<% } %>

		<%
		var share_url = active === '' ? '' : active;
		share_url = configs.site_url + share_url;
		%>

		<input type="hidden" id="layout_ipt" value="<%= layout || '' ; %>"/>
		<input type="hidden" id="share_url" value="<%= share_url || '/'; %>" />
		<input type="hidden" id="is_desktop" value="<%= is_desktop ? 1 : 0 ; %>" />
		<input type="hidden" id="is_mobile" value="<%= is_mobile ? 1 : 0 ; %>" />

		<script src="/javascripts/tree.min.js?v=1.0" defer></script>
		<script src="/javascripts/psv.min.js?v=1.0" defer></script>
		<script src="/javascripts/jquery.min.js?v=1.0" defer></script>
		<script src="/javascripts/front.libs.min.js?v=1.8.8" defer></script>
		<script src="/javascripts/front.actions.min.js?v=1.9.7" defer></script>

		<%- include share_btns %>

		<!-- Google AdSense -->
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		    (adsbygoogle = window.adsbygoogle || []).push({
		        google_ad_client: "ca-pub-3563701183656156",
		        enable_page_level_ads: true
		    });
		</script>
		<!-- EO Google AdSense -->

		<!-- Begin comScore Tag -->
	    <script>
            var _comscore = _comscore || [];
            _comscore.push({ c1: "2", c2: "21230308" });
            (function() {
               var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
               s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
               el.parentNode.insertBefore(s, el);
             })();
            </script>
            <noscript>
               <img src="http://b.scorecardresearch.com/p?c1=2&c2=21230308&cv=2.0&cj=1" />
            </noscript>
            <!-- End comScore Tag -->
            <!-- Begin comScore Tag -->
	    <script>
	  		var _comscore = _comscore || [];
	  		_comscore.push({ c1: "2", c2: "21230308" });
			  (function() {
			    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
			    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
			    el.parentNode.insertBefore(s, el);
			  })();
		</script>
		<noscript>
	  		<img src="http://b.scorecardresearch.com/p?c1=2&c2=21230308&cv=2.0&cj=1" />
		</noscript>
		<!-- End comScore Tag -->

		<!-- Start Alexa Certify Javascript -->
		<script type="text/javascript">
			_atrk_opts = { atrk_acct:"/MWGm1akGFL1bm", domain:"lian-car.com",dynamic: true};
			(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
		</script>
		<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=/MWGm1akGFL1bm" style="display:none" height="1" width="1" alt="" /></noscript>
		<!-- End Alexa Certify Javascript -->

	</body>
</html>