		
		<% if(configs.extra_footer !== undefined) { %>
			<% var extra_path = configs.extra_footer; %>
			<%- include(extra_path) %>
		<% } %>

		<%
		var share_url = active === '' ? '' : active;
		share_url = configs.site_url + share_url;
		%>

		<input type="hidden" id="layout_ipt" value="<%= layout || '' ; %>"/>
		<input type="hidden" id="share_url" value="<%= share_url || '/'; %>" />
		<input type="hidden" id="is_desktop" value="<%= is_desktop ? 1 : 0 ; %>" />
		<input type="hidden" id="is_mobile" value="<%= is_mobile ? 1 : 0 ; %>" />

		<script async src="/javascripts/front.all.built.min.js?v=1.0" ></script>

		<%- include share_btns %>

	</body>
</html>