<% include _fe_header_ %>

<div class="row">
	
	<!-- aritcle content -->
	<div class="small-12 medium-8 float-left">
		<article id="ArticleContentContainer">
			<header>
				<p class="category-title">
					<a href="/categories/index/<%= article.Category.get('id') %>" style="">
						<%= article.Category.get('title') %>
					</a>
				</p>
				<hr/>
				<h2 class="page-title">
					<%= article.get('title') %>
					<a id="ArticleTitleAnchor">&nbsp;</a>
				</h2>
				<meta name="description" content="<%= article.get('abstraction'); %>">
				<div class="entry-meta">
					<span class="author">
						BY <%= article.User.get('name'); %>  
						@ <time datetime="<%= article.get('created'); %>">
							<%- display_time(article.get('created')); %>					
						  </time>				
					</span>
				</div>
			</header>
			<div class="entry-content indented">
				<%- article.get('content'); %>
			</div>
		</article>

		<footer class="row article-footer">
			<% if(_.isArray(same_cate_artciles) && same_cate_artciles.length) { %>
				<% for(var idx = 0 ; idx < same_cate_artciles.length ; idx++ ) { %>
					<div class="small-12 medium-4 float-left cate-card footer-same-cate-articles-smaller">
						<div class="card">
							<a href="/articles/read/<%= same_cate_artciles[idx].id; %>.html">
								<img class="thumbnail img-lazy-load ratio-item-img" data-original="<%- same_cate_artciles[idx].thumbnail %>" />
								<div class="card-section">
									<a class="side-bar-news-cate" href="/categories/index/<%= same_cate_artciles[idx].Category.get('id') %>">
										<%= same_cate_artciles[idx].Category.get('title'); %>
									</a>
									<a href="/articles/read/<%= same_cate_artciles[idx].id; %>.html">
										<%- same_cate_artciles[idx].plain_title; %>
									</a>
								</div>
							</a>
						</div>
					</div>
				<% } %>
			<% } %> 
		</footer>
	</div>

	<!-- side bar content -->
	<div class="small-12 medium-4 float-left side-bar">
		<% if(_.isArray(latest_articles) && latest_articles.length) { %>
			<% for(var idx = 0 ; idx < latest_articles.length ; idx++ ) { %>
				<div class="cate-card">
					<div class="card">
						<a href="/articles/read/<%= latest_articles[idx].id; %>.html">
							<img class="thumbnail img-lazy-load ratio-item-img" data-original="<%- latest_articles[idx].thumbnail %>" />
							<div class="card-section">
								<a class="side-bar-news-cate" href="/categories/index/<%= latest_articles[idx].Category.get('id') %>">
									<%= latest_articles[idx].Category.get('title'); %>
								</a>
								<a href="/articles/read/<%= latest_articles[idx].id; %>.html">
									<%- latest_articles[idx].plain_title; %>
								</a>
							</div>
						</a>
					</div>
				</div>

				<% if(_.isArray(banners) && banners.length) {  %>
					<% var banner = banners.pop(); %>
					<div class="cate-card">
						<% if(banner.is_youtube) { %>
							<div class="responsive-embed">
								<iframe id="player" type="text/html" width="420"
			                			src="<%=banner.plain_url%>?enablejsapi=1&autoplay=0" style="height: 100%;"
			                			frameborder="0"></iframe>
		                	</div>
						<% } else { %>
							<div class="card">
								<a class="float-left" href="<%=banner.plain_url%>" target="<%=banner.target%>" style="min-width: 100%;">
									<img class="img-lazy-load" data-original="<%- banner.img1 %>" style="min-width: 100%"/>
								</a>
							</div>
						<% } %>
					</div>
				<% } %>

			<% } %>
		<% } %> 
	</div>

</div>

<% include _fe_footer_ %>