<% include _fe_header_ %>

<link rel="stylesheet" href="/stylesheets/masonry.styles.css"/>

<div class="row">
	
	<!-- aritcle content -->
	<div id="cate-container" class="small-12 medium-8 float-left cate-container">

		<article>

			<header>
				<p class="category-title">
					<a href="/categories/index/<%= category.get('ID') %>" style="">
						<%= category.get('Title') %>
					</a>
				</p>
			</header>

			<% if( show_page_anchor ) { %>
				<span class="page-indicator hidden" data-src="/categories/index/<%= category.get('ID') %>/<%= page %>"></span>
			<% } %>

			<div id="playpoint" class="small-up-1 medium-up-3 large-up-4">
			<% if(_.isArray(cate_articles) && cate_articles.length) { %>
				<% for(var idx = 0 ; idx < cate_articles.length ; idx++ ) { %>
					<div class="column column-block">
						<div class="card">
							<a href="/articles/read/<%= cate_articles[idx].id; %>.html">
								<img class="thumbnail" src="<%- cate_articles[idx].thumbnail %>" />
								<div class="card-section">
									<a class="side-bar-news-cate" href="/categories/index/<%= cate_articles[idx].Category.get('id') %>">
										<%= cate_articles[idx].Category.get('title'); %>
									</a>
									<a href="/articles/read/<%= cate_articles[idx].id; %>.html">
										<%- cate_articles[idx].plain_title; %>
									</a>
								</div>
							</a>
						</div>
					</div>
				<% } %>
			<% } %> 

			</div>

		</article>
		
	</div>

	<!-- side bar content -->
	<div class="small-12 medium-4 float-left side-bar">
		<% if(_.isArray(latest_articles) && latest_articles.length) { %>
			<% for(var idx = 0 ; idx < latest_articles.length ; idx++ ) { %>
				<div class="cate-card">
					<div class="card">
						<a href="/articles/read/<%= latest_articles[idx].id; %>.html">
							<img class="thumbnail ratio-item-img" src="<%- latest_articles[idx].thumbnail %>" />
							<div class="card-section">
								<a class="side-bar-news-cate" href="/categories/index/<%= latest_articles[idx].Category.get('id') %>">
									<%= latest_articles[idx].Category.get('title'); %>
								</a>
								<a href="/articles/read/<%= latest_articles[idx].id; %>.html">
									<%- latest_articles[idx].plain_title; %>
								</a>
							</div>
						</a>
					</div>
				</div>

				<% if(_.isArray(banners) && banners.length) {  %>
					<% var banner = banners.pop(); %>
					<div class="cate-card">
						<% if(banner.is_youtube) { %>
							<div class="responsive-embed">
								<iframe id="player" type="text/html" width="420" style="height: 100%;"
			                			src="<%=banner.plain_url%>?enablejsapi=1&autoplay=0"
			                			frameborder="0"></iframe>
		                	</div>
						<% } else { %>
							<div class="card">
								<a class="float-left" href="<%=banner.plain_url%>" target="<%=banner.target%>" style="min-width: 100%;">
									<img src="<%- banner.img1 %>" style="min-width: 100%;"/>
								</a>
							</div>
						<% } %>
					</div>
				<% } %>

			<% } %>
		<% } %> 
	</div>

</div>

<% include _fe_footer_ %>