<%
var share_title = configs.site_title;
var share_url   = active === '' ? '' : active;
share_url = configs.site_url + share_url;
%>

<style type="text/css">
.lian-share-wrapper{position:fixed}.lian-share-wrapper-bottom{width:100%;bottom:0;z-index: 100;}.lian-share-wrapper-left{width:50px;left:0;top:30%}.lian-share-wrapper a{display:inline-block;position:relative;font-size:26px;color:#fff!important;padding:12px 0;line-height:1em;text-align:center}.lian-share-wrapper .text{position:absolute;display:block;width:100%;bottom:1px;font-size:10px;line-height:10px}.lian-share-wrapper-left .hide-desktop{display:none}
</style>

<div class="lian-share-wrapper lian-share-wrapper-left show-for-large">
    
    <% if(share_url !== '/') { %>
    <a href="https://line.me/R/msg/text/?<%=share_title+share_url %>" target="_blank" style="width: 100%; background: rgb(1, 195, 18);" class="comment hide-desktop">
        <i class="fa fa-comment"></i>
        <span class="text">LINE</span>
    </a>
    <% } else { %>
    <a href="https://line.me/ti/p/%40zth3224h" target="_blank" style="width: 100%; background: rgb(1, 195, 18);" class="comment hide-desktop">
        <i class="fa fa-comment"></i>
        <span class="text">LINE</span>
    </a>
    <% } %>

    <a href="http://www.facebook.com/sharer.php?u=<%=share_url; %>" target="_blank" style="width: 100%; background: rgb(59, 89, 152);" class="facebook">
        <i class="fa fa-facebook"></i>
        <span class="text"></span>
    </a>
    <a href="whatsapp://send?text=<%=share_title+share_url %>" target="_blank" style="width: 100%; background: rgb(29, 158, 17);" class="whatsapp hide-desktop">
        <i class="fa fa-whatsapp"></i>
        <span class="text"></span>
    </a>
    <a href="https://plus.google.com/share?url=<%=share_url %>" target="_blank" style="width: 100%; background: rgb(221, 75, 57);" class="google-plus">
        <i class="fa fa-google-plus"></i>
        <span class="text"></span>
    </a>
    <a href="/pages/generate_qrcode?app=wechat&amp;link=<%=share_url %>" target="_blank" style="width: 100%; background: rgb(29, 158, 17);" class="weixin">
        <i class="fa fa-weixin"></i>
        <span class="text"></span>
    </a>
    <a href="http://twitter.com/share?text=<%=share_title %>&amp;url=<%=share_url %>" target="_blank" style="width: 100%; background: rgb(0, 172, 237);" class="twitter">
        <i class="fa fa-twitter"></i>
        <span class="text"></span>
    </a>
    <a href="sms:?&amp;body=<%=share_title+share_url %>" target="_blank" style="width: 100%; background: rgb(0, 118, 255);" class="mobile hide-desktop">
        <i class="fa fa-mobile"></i>
        <span class="text">簡訊</span>
    </a>
</div>